[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyusb = "*"
pydbus = "*"
jack-client = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pytest = "*"
pytest-mock = "*"
tox = "*"
tox-pyenv = "*"

[pipenv]
allow_prereleases = true
