[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyusb = "*"
pydbus = "*"

[dev-packages]
soundcraft-utils = {editable = true, path = "."}
black = "*"
flake8 = "*"
isort = "*"
pytest = "*"
tox = "*"
tox-pyenv = "*"
pipenv-setup = "*"

[pipenv]
allow_prereleases = true
